<h2>
    Por capital
</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)"
        (onDebounce)="filter($event)"
        [placeholder]="'Buscar por capital...'"
        ></app-pais-input>
    </div>
</div>
<hr>

<div *ngIf="isError" class="alert alert-danger">
    No se encontro {{termino}}
</div>

<div *ngIf="!isError && paises.length > 0" class="alert alert-row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>